<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,400;1,500&family=Roboto+Slab:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
      }

      body {
        min-height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        padding: 10px;
      }

      .container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      form {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 50px 50px;
        border-radius: 5px;
      }

      .form-div svg {
        position: absolute;
        top: 43px;
        right: 15px;
      }

      form .form-div button {
        outline: none;
        border: none;
      }

      form h2 {
        margin-top: 10px;
      }

      form small {
        margin-top: 10px;
      }

      .form-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        line-height: 30px;
        position: relative;
      }

      .form-div p {
        font-size: 14px;
        font-weight: bold;
        color: #3e3e3e;
      }

      input {
        outline: none;
        border: 1px solid #8a8a8a;
        border-radius: 2px;
        padding: 15px;
        width: 100%;
      }

      .button {
        margin-top: 30px;
        width: 150px;
        max-width: 150px;
        padding: 12px;
        background-color: rgb(58, 184, 58);
        color: #fff;
        outline: none;
        border: none;
        border-radius: 2px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 14px;
      }
      .subtext,
      small {
        color: #8a8a8a;
      }

      svg {
        color: #8a8a8a;
      }

      ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #8a8a8a;
        font-size: 14px;
      }
      ::-moz-placeholder {
        /* Firefox 19+ */
        color: #8a8a8a;
        font-size: 14px;
      }
      :-ms-input-placeholder {
        /* IE 10+ */
        color: #8a8a8a;
        font-size: 14px;
      }
      :-moz-placeholder {
        /* Firefox 18- */
        color: #8a8a8a;
        font-size: 14px;
      }
    </style>
  </head>

  <body>
    <img src="http://api.sportswander.com:5002/images/FP/logo.svg" alt="logo" />
    <div class="container">
      <form>
        <h2>Reset password</h2>
        <p class="subtext">The password should have atleast 6 characters</p>
        <div class="form-div">
          <p>Password</p>
          <div>
            <input
              type="password"
              name="password"
              placeholder="Enter a new password"
              id="password"
            />
            <div onclick="myFunction()">
              <svg
                id="visible"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
                />
              </svg>

              <svg
                id="invisible"
                style="display: none"
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#000000"
              >
                <path
                  d="M0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0zm0 0h24v24H0z"
                  fill="none"
                />
                <path
                  d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="form-div">
          <p>Confirm Password</p>
          <input
            type="password"
            name="password"
            placeholder="Confirm your password"
          />
        </div>
        <button class="button">Reset Password</button>
        <p>
          To make sure your account is secure, you'll be logged out <br />
          from other device once you set the new password
        </p>
      </form>
    </div>
    <small style="text-align: center; margin-top: 50px"
      >Problems or questions? Call us at 9944448090<br />
      or email <a href="">support@sportswander.com</a>
    </small>
    <small style="margin-top: 30px"
      >&#169; 2/230, Palayapalayam main road,Palayapalayam</small
    >

    <script>
      function myFunction() {
        var x = document.getElementById("password");
        var visible = document.getElementById("visible");
        var invisible = document.getElementById("invisible");
        if (x.type === "password") {
          x.type = "text";
          visible.style.display = "none";
          invisible.style.display = "block";
        } else {
          x.type = "password";
          visible.style.display = "block";
          invisible.style.display = "none";
        }
      }
    </script>
  </body>
</html>
